* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
}

/* nav */
.nav {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #333;
    text-align: center;
    line-height: 50px;
}

.nav-item {
    display: inline-block;
}

.nav-item a {
    color: grey;
    padding: 0 50px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #0086f3;
}

/* header */
.header-img {
    position: relative;
    height: 300px;
    background: radial-gradient(
        circle at 10% 20%,
        rgb(4, 159, 108) 0%,
        rgb(194, 254, 113) 90.1%
    );
    /*background-image: url("../img/logo.png");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}

.header-bg {
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
    height: 225px;
    width: 225px;
    content: url("../img/logo.png");
}

/* main */
main {
    width: 100%;
}

main h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.page{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.news-img{
    display: flex;
    justify-content: center;
}

.news{
    display: flex;
    justify-content: center;
}

.news p{
    font-size: 18px;
    column-fill: auto;
}

.composition{
    margin-bottom: 50px;
}

.composition p{
    font-size: 20px;
    margin-bottom: 30px;
}

.second{
    display: flex;
    flex-direction: row;
}

/* footer */
footer {
    height: 80px;
    line-height: 80px;
    background-color: #333;
    color: #ddd;
    text-align: center;
    font-size: 20px;
}

.icon-box {
    margin-left: 20px;
}

.icon-box a {
    margin: 0 5px;
    color: #ddd;
    font-size: 30px;
    transition: color 0.3s;
}

.icon-box a:hover {
    color: #0086f3;
}

/* Uslugi */

.services-list {
    margin: 0 auto;
    width: 200px;
}

/* Cennik */
.prices-table {
    margin: 0 auto;
}

.prices-table td {
    padding: 10px 30px;
}

/* Kontakt */
.contact-info {
    text-align: center;
    font-size: 36px;
}

.contact-info .fas {
    margin-right: 10px;
}
